<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <div class="form-container">
                        <h3 class="title">Crear Cuenta</h3>
                        <form class="form-horizontal" method="POST" action="{{ url_for('crear_Empleado') }}">
                            <div class="form-icon">
                                <i class="fa fa-user-circle"></i>
                            </div>
                            
                            <!-- Campo Nombre -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-user"></i></span>
                                <input type="text" name="Nombre" class="form-control" placeholder="Nombre" required>
                            </div>
                            
                            <!-- Campo Apellido -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-user"></i></span>
                                <input type="text" name="Apellido" class="form-control" placeholder="Apellido" required>
                            </div>
                            
                            <!-- Campo Email -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-envelope"></i></span>
                                <input type="Email" name="Email" class="form-control" placeholder="Correo Electrónico" required>
                            </div>

                             <!-- Campo Rol -->
                             <div class="form-group">
                                <span class="input-icon"><i class="fa fa-user"></i></span>
                                <input type="Rol" name="Rol" class="form-control" placeholder="Rol del Empleado" required>
                            </div>
                            
                            <!-- Campo Contraseña -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-lock"></i></span>
                                <input type="Password" name="Password" class="form-control" placeholder="Contraseña" required>
                            </div>

                            <!-- Botón Crear Cuenta -->
                            <button class="btn signin" type="submit">Crear Cuenta</button>
                        </form>

                        <!-- Link para regresar al Login -->
                        <div class="login-container">
                            <p>¿Ya tienes una cuenta? 
                                <a href="{{ url_for('login') }}" class="btn signup">Inicia sesión</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
